:root {
  --color1: #e19898;
  --color2: #a2678a;
  --color3: #241649;
  --color4: #c7a8c4;
  --color5: #7a6daa;
}
.container {
  width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo-mobile-img {
  display: none;
}
.logo-img {
  width: 60px;
}
.logo-text {
  color: var(--color3);
}
.nav-link {
  color: var(--color3);
}
.nav-list {
  display: flex;
}
.menu-item {
  color: var(--color3);
}
.nav-link:hover,
.menu-item:hover,
.nav-link:focus,
.menu-item:focus {
  color: var(--color5);
}
.header {
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: linear-gradient(
    to top,
    rgba(255, 172, 152, 0.2),
    rgba(255, 172, 152, 0)
  );
}
.logo {
  display: flex;
  align-items: center;
}
.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  width: 200px;
  margin-bottom: 0;
  position: static;
}
.menu-svg {
  fill: var(--color3);
  width: 40px;
  height: 40px;
}
.menu-btn {
  background: none;
  border: none;
  display: none;
}
.dropdown-menu {
  position: static;
  background-color: #ffffff;
  border: none;
  width: 100px;
  box-shadow:1px 2px 4px 2px #4444447e;
  padding: 15px;
  max-height: 65px;
  overflow-y: auto;
}
.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../images/hero-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 400px;
}
.title {
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.hero-text {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  color: #000;
  font-weight: 600;
}
.problem {
  margin-top: 20px;
  margin-bottom: 60px;
}
.prob-title {
  text-align: center;
}
.prob-text {
  text-align: center;
}
.solution {
  margin-bottom: 100px;
}
.sol-title {
  text-align: center;
}
.sol-text {
  text-align: center;
}
.for-item {
  width: 450px;
  background-color: rgba(182, 109, 170, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.for-list {
  display: flex;
  gap: 100px;
}
.for-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 250px;
}
.for-text {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.for {
  margin-bottom: 100px;
}
.advant-img {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.advant-item {
  width: 300px;
  border: 1px solid #4d3c77;
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  height: 440px;
}
.advant-item-title {
  text-align: center;
  margin-bottom: 30px;
}
.advant-text {
  text-align: center;
}
.advant-list {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: 220px 200px 220px 200px 220px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 620px;
  margin: 0 auto;
}
.advant-title {
  text-align: center;
  margin-bottom: 80px;
}
.advant-item:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}
.advant-item:nth-child(2) {
  grid-area: 2 / 2 / 4 / 3;
}
.advant-item:nth-child(3) {
  grid-area: 3 / 1 / 5 / 2;
}
.advant-item:nth-child(4) {
  grid-area: 4 / 2 / 6 / 3;
}
.btn-support {
  width: 180px;
  height: 50px;
  background-color: #7a6daa;
  border: 3px solid #4d3c77;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  gap: 20px;
}
.btn-text {
  font-size: 13px;
  line-height: 120%;
  text-align: left;
  color: #fff;
}
.support-img {
  width: 30px;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  body{
    padding-right: 0 !important;
  }
  .offcanvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  .nav-list{
    display: none;
  }
  .menu-btn{
    display: block;
  }
  .logo-mobile-img {
    display: block;
    width: 120px;
  }
  .logo-img {
    display: none;
  }
  .logo-text {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .hero {
    padding-bottom: 50px;
  }
  .title {
    font-size: 20px;
    width: 200px;
    margin-bottom: 20px;
    padding-top: 70px;
    color: var(--color3);
  }
  .hero-text {
    font-size: 11px;
    width: 250px;
    color: var(--color3);
  }
  .prob-title,
  .sol-title,
  .advant-title {
    text-align: center;
    color: var(--color3);
    font-size: 18px;
  }
  .prob-text,
  .sol-text {
    font-size: 11px;
    width: 280px;
    color: var(--color3);
  }
  .for-list {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .for-item {
    width: 250px;
    padding: 20px;
    margin: 0 auto;
  }
  .for-item:first-child {
    margin-bottom: 30px;
  }
  .for-title {
    text-align: center;
    font-size: 15px;
    color: var(--color3);
    width: 120px;
  }
  .for-text {
    font-size: 11px;
    width: 210px;
    color: var(--color3);
  }
  .advant-title {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: var(--color3);
  }
  .advant-img {
    width: 60px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .advant-item {
    width: 120px;
    border: 1px solid #4d3c77;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;
    height: 335px;
  }
  .advant-item-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    color: var(--color3);
  }
  .advant-text {
    text-align: center;
    font-size: 11px;
    color: var(--color3);
  }
  .advant-list {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(5, 160px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .advant-item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }
  .advant-item:nth-child(2) {
    grid-area: 2 / 2 / 4 / 3;
  }
  .advant-item:nth-child(3) {
    grid-area: 3 / 1 / 5 / 2;
  }
  .advant-item:nth-child(4) {
    grid-area: 4 / 2 / 6 / 3;
  }
}
