.container{
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width:388px) {
        min-width: 388px;
    }
    @media screen and (min-width:1200px) {
        min-width: 1200px;
    }
}