.for {
  padding: 107px 16px 156px;
  background-image: url(../../images/for-backr-phone.png);
  &__title {
    font-family: "Montserrat";
    font-weight: 600;
    color: #1d2237;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 308px;
    margin: 0 auto;
    margin-bottom: 29px;
  }
  &__list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  &__item {
    padding: 16px 16px 25px;
    width: 358px;
    height: 221px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 0px #00000033;
    border-radius: 16px;
    &__h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-style: Medium;
      font-size: 20px;
      color: #1d2237;
      line-height: 111.00000000000001%;
      letter-spacing: 0%;
      text-align: start;
      margin-bottom: 8px;
      &::before {
        content: "";
        width: 24px;
        height: 24px;
        display: block;
        background-image: url(../../images/point.png);
        background-size: cover;
        margin-bottom: 16px;
      }
    }
    &__text {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      width: 276px;
      color: #54547E;
      font-size: 16px;
      text-align: start;
      line-height: 140%;
      letter-spacing: 0%;
      font-variant: small-caps;
    }
  }
}
